{% extends 'base.html' %}

{% block title %} Website 



{% endblock %}


{% block content %}

<h1>{{ object.website_url }}</h1>
<p>{{ object.website_name }}</p>
<p>{{ object.username }}</p>


<input type="password" id="inputPassword2" placeholder="Password">
<button id="psw_button" type="submit" class="btn btn-primary mb-3">Confirm identity</button>

<div id="plain_psw">

</div>


 <script>
  document.addEventListener('DOMContentLoaded', init, false);
  function init(){
    function visualize_password(){
        console.log("executed");
            var master_password_el = document.getElementById("inputPassword2");
            var master_password = master_password_el.value;

            function callback(response){
                if (response['is_password_wrong']){
                    alert("Wrong password");
                }
                else {
                    document.getElementById('plain_psw').innerText = response['plain_password'];
                }
            }

            $.ajax({
                type: "POST",
                url: '{{ "ajax/get_decrypted_password/" }}',
                dataType: 'json',
                data: { 
                        csrfmiddlewaretoken: '{{ csrf_token }}', 
                        master_password: master_password 
                    },
                success: callback,
                error: function (xhr, status, error) {
                              alert("Server Error");
                      }
            });
        }
  var button = document.getElementById('button');
  document.getElementById("psw_button").addEventListener('click', visualize_password, true);
};
</script>


{% endblock %}