{% extends 'base.html' %}

{% block title %} Website 



{% endblock %}


{% block content %}



<h1>{{ object.website_url }}</h1>
<p>{{ object.website_name }}</p>
<p id="ciao">{{ object.username }}</p>


<form class="row g-3">
    <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Visualize password">
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Master Password</label>
      <input type="password" id="inputPassword2" placeholder="Password">
    </div>
    <div class="col-auto">
      <button id="psw_button" type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
  </form>

  <script>

            function visualize_password(){
            var master_password = document.getElementById("inputPassword2").value;
            console.log(document);
            console.log(document.getElementById("ciao").value);
            console.log(master_password);
            console.log("executed");
    
            $.ajax({
                type: "POST",
                url: '{{ "ajax/get_decrypted_password/" }}',
                dataType: 'json',
                data: { 
                        csrfmiddlewaretoken: '{{ csrf_token }}', 
                        master_password: master_password 
                    },
                success: function callback(response){
                                console.log(response);
                                },
                error: function (xhr, status, error) {
                              alert("Ajax Failed");
                      }
            });
        };
        document.getElementById("psw_button").addEventListener('click', visualize_password());
    
    </script>


{% endblock %}